body{

    background-color: #aea1e8;

}

h1{

    color: #311b93;
    text-align: center;
    font-family: trebuchet MS;
    border-bottom: 5px solid #311b93;;

}

.botao{

    border: none;
    font-family: trebuchet MS;
    
}