body{

    background-color: black;

}

h1{

    color: red;
    text-align: center;
    font-family: trebuchet MS;
    border-bottom: 5px solid red;;

}

.botao{

    border: none;
    font-family: trebuchet MS;
    
}


.tags{

    color: red;

}